﻿@model FinalControlWork.Models.ShowAllInstitutionViewModel

@{
    ViewData["Title"] = "Все Заведения";
}

<div class="row">
    <div class="col-md-9">@Model.Institutions.NameInstitution
        <div>
                @Model.Institutions.Description
            </div>
        </div>
        @foreach (var log in Model.logoImages)
        {
            <div class="col-lg-3"><img src="~/@log.Logo" width="200" height="150" /></div>
            <div><img src="~/@log.Logo" width="30" height="30" /></div>
        }
        <div class="col-md-12">
            @foreach (var rew in Model.Reviews)
            {
                <div>@rew.DateOfCreation</div>
                <div>@rew.ReviewUser</div>
                <div>@rew.User.Email</div>
            }
        </div>

    

</div>