﻿@model FinalControlWork.Models.CreateInstitutionViewModel
@{
    ViewData["Title"] = "Создание Заведения";
}

<div>
    @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
</div>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2>Создать заведение</h2>
<div  class="container">
    <div class="col-md-12" style="margin-top: 8px">
        <form method="post" asp-controller="Manage" asp-action="Create" enctype="multipart/form-data">
            <h4>Создать заведение</h4>
            <hr />
            <input type="hidden" value="@ViewBag.UserId" asp-for="UserId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-4" style="margin-top: 8px">
                <label asp-for="NameInstitution"></label>
            </div>
                <div class="col-md-6" style="margin-top: 8px">
                    <input asp-for="NameInstitution" class="form-control"/>
                    <span asp-validation-for="NameInstitution" class="text-danger"></span>
                </div>
                <div class="col-md-4" style="margin-top: 8px">
                    <label asp-for="Description"></label>
                </div>
            <div class="col-md-6" style="margin-top: 8px">
                <textarea rows="8" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-4" style="margin-top: 8px">
                <label asp-for="Logo"></label><br />
            </div>
            <div class="col-md-6" style="margin-top: 8px">
                <input class="form-control" type="file" name="Logo" value="" accept="image/jpg" />
            </div>
            <div class="col-md-3" style="margin-top: 8px">
                <button type="submit" class="btn btn-default">Создать</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/site.js"></script>
}
